body {
    background: azure;
    font-family: sans-serif;
    font-size: 16px;
}

#app {
    width: 90vw;
    max-width: 640px;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 20px;
    background: #fafafa;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
}
