.sti-input {
    display: flex;
    width: 100%;
    border: 2px solid transparent;
}

.sti-input.focus {
    border-color: #65a0db;
}

.sti-input input {
    width: 100%;
    font-size: 14px;
    line-height: 32px;
    padding: 0 8px;
    border: 1px solid #ccc;
    border-right: none;
}

.sti-input input:focus {
    outline: none;
}

.sti-input button {
    border: none;
    margin: 0;
    width: auto;
    overflow: visible;

    /* inherit font & color from ancestor */
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;

    display: inline-block;
    padding: 0 12px;
    font-size: 14px;
    color: #fff;
    background: #65a0db;
    border-radius: 0;
}
